<a [href]="project.demoLink" target="_blank" class="flex flex-col justify-center items-center gap-4  p-4 rounded-xl outline outline-1 outline-slate-300 hover:scale-105 transition-all duration-300 hover:shadow-lg">
  <h4 class="font-mona font-bold text-lg text-center text-secondary max-[425px]:text-sm">
    @if (project.name) {      
      {{ project.name }}
    }
    @else {
      Projeto sem nome
    }
  </h4>

  <img
    class="w-64"
    [src]="project.thumbnail"
    alt="Imagem do projeto Malfoy o gato bibliomântico"
  />

  <div class="flex flex-row justify-center items-center gap-4 relative">
        
    @for (tool of project.tools; track $index) {
      <div class="group">
       <img [src]="tool.path" [alt]="'Ícone ' + tool.name" class="max-w-5 h-5 max-[425px]:w-5" [ariaLabel]="'Ícone ' + tool.path">
        <div class="hidden absolute -top-10 float-start bg-primary shadow-lg py-2 px-4 rounded-full group-hover:block outline outline-1 outline-slate-200">
          <p class="text-xs text-tertiary font-mona font-semibold text-nowrap">
            {{tool.name}}
          </p>
        </div>
      </div>
    }

   
  </div>
</a>
